In [4]:
a ="hanif"
b= "Jannat"
print(a+b)
type(a+b)

hanifJannat

str

In [9]:
user_in = input(str("Enter the name"))
user_in

Enter the namedsa

'dsa'

In [10]:
a = "Hello my friends .  "

In [15]:
a[-8:-2]

'y frie'

In [20]:
len(a)

15

In [5]:
a.strip()

In [9]:
a.lowe

NameError: name 'a' is not defined

In [8]:
a.upper()

NameError: name 'a' is not defined

In [18]:
var1 = " Hello           Bangladesh"
print(var1)

 Hello Bangladesh

In [21]:
var1.strip().upper().split()

['HELLO', 'BANGLADESH']

In [23]:
"Bangladesh"in var1

True

In [25]:
sentence1 ="Welcome to domain"
sentence2 = "This our new world"
sentence1+sentence2

'Welcome to domainThis our new world'

In [27]:
age = 10
text = "My age is {}"
text.format(age)

'My age is 10'

In [54]:
va1= ("Welcome to my family")
ein1 =input ("enter the word ")
ein1 =ein1.lower()
ein1 in va1.lower()

enter the word My

True